{:subprotocol "postgresql"
 :host #profile {:prod "//tumtum_db" :test "//0.0.0.0"}
 :port #profile {:prod 5432 :test 15444}
 :database #profile {:prod "chat_db" :test "chat_db"}
 :subname #join [#ref [:host] ":"
                 #ref [:port] "/"
                 #ref [:database]]
 :classname "org.postgresql.Driver"
 :secrets #include #join [#env PWD "/.secrets.edn"]
 :user #ref [:secrets :user]
 :password #ref [:secrets :password]
 :app-port 8080}
